body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: gray; 
}

header {
            background-image: url('background.jpeg'); /* Header background image */
            background-size: cover;
            background-position: center;
            padding: 50px 0;
            text-align: center;
            color: #fff;
}

header h1 {
            font-size: 3em;
            margin-bottom: 20px;
        }
		
nav {
            background-color: black; /* Dark gray navigation bar */
            color: #fff; /* White text color */
            padding: 15px;
            text-align: center;
        }
		
nav a {
            color: #fff;
			text-decoration:bold;
			margin: 0 15px;
		 }
		 
nav a:hover {
            text-decoration: underline;
}

.container {
            max-width: 1200px;
            margin: 20px auto;
            padding: 0 20px;
            text-align: center;
        }

footer {
            background-color: #333; /* Dark gray background */
            color: #fff; /* White text color */
            text-align: center;
            padding: 20px 0;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
.movie-poster {
            display: inline-block;
            margin: 20px;
            border-radius: 10px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
            overflow: hidden;
            transition: transform 0.3s ease-in-out;
        }
		
.movie-poster:hover {
            transform: scale(1.05); /* Enlarge on hover */
        }

        .movie-poster img {
            max-width: 100%;
            height: auto;
        }

        /* Button styles */
        .btn {
            background-color: #007bff; /* Blue button */
            color: #fff; /* White text color */
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
        }

        .btn:hover {
            background-color: #0056b3;
